<!doctype html>
<html>

<head>
    <title>Monitor</title>
    <link rel="stylesheet" href="./css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <style>
        .panel {
            margin-bottom: 20px;
        }
        .panel-body {
            background-color: #fff;
            margin-bottom: 0px;
            z-index: 5;
            -webkit-box-shadow: 0px 2px 32px #ACACAE;
            -moz-box-shadow: 0px 2px 32px #ACACAE;
            box-shadow: 0px 2px 32px #ACACAE;
        }

        hr {
            border-color: #fff;
        }
      
        .green {
            background-color: #35DA0C;
            border-color: #35DA0C;
        }
        
        .red {
            background-color: #FD2412;
            border-color: #FD2412;
        }

        .grey {
            background-color: #757474;
            color: #ffffff;
        }

        @media (min-width: 768px) {
        .container {
            width: 90%;
        }
        }
        @media (min-width: 992px) {
        .container {
            width: 90%;
        }
        }
        @media (min-width: 1200px) {
        .container {
            width: 90%;
        }
        }
        h1, .h1, h2, .h2, h3, .h3 {
           margin-top: 0px;
           margin-bottom: 0px;
        }

        h1 {
            font-size: 80px;
        }

        h2 {
            font-size: 30px;
        }

        .panel-body {
            padding: 0;
        }

        .panel-body-fix {
            padding: 15px;
            margin-right: -15px;
            margin-left: -15px; 
        }

        .row-padded {
            /*padding: 35px;*/
            padding-top: 5px;
            background-color: #CCCCCC;
            border: 1px solid #DDD;
            
        }

        .row-padded-2 {
            /*padding: 35px;*/
            padding-bottom: 5px;
            background-color: #E6E7E9;
            border: 1px solid #DDD;
        }

        .line {
            width: 100%;
            height: 30px;
            background-color: #357BB7;
            margin-bottom: 40px;
        }
    </style>
</head>

<body>

<%include ../partials/logos %>
<div class="line">

</div>
        <div class="container">
            <div class="row"> 

                <div class="panel panel-default">
                    <div id="estado-color" class="panel-body panel-body-fix <%if (estado[0]) { %> 
                            <%if (estado[0].status == 'online') { %> 
                                <%if (estado[0].razones_paro_id == 200 || estado[0].razones_paro_id == 201) { %> 
                                    grey
                                <% } else { %>  
                                    <%= estado[0].razon == 'activo' ?  "green"  : "red"  %> 
                                <% } %>
                            <% } else { %>  grey  <% } %>
                        <% } else { %>  grey  <% } %>
                        ">
                        <div class="row">
                            <h1 class="text-center" id="estado">
                                <%if (estado[0]) { %>
                                    <%if (estado[0].status == 'online') { %>
                                        <%= estado[0].razon %>
                                    <% } else { %> 
                                        Offline
                                    <% } %>
                                <% } else { %> 
                                    Sin eventos
                                <% } %>
                            </h1>
                            <hr/>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <h2 class="text-center" id="producto">Porducto: 
                                    <%if (estado[0]) { %>
                                        <%= estado[0].producto %>
                                    <% } else { %> 
                                        Sin eventos
                                    <% } %>
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text-center" id="maquina">Máquina: 
                                    <%if (estado[0]) { %>
                                        <%= estado[0].nombre %>
                                    <% } else { %> 
                                        Sin eventos
                                    <% } %>
                                </h2>
                            </div>
                            <div class="col-md-4">
                                <h2 class="text-center" id="turno">Turno: <%= turnoActual[0].nombre %></h2>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- Row -->
            <div class="row">

                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row row-padded">
                                <div class="col-md-3">
                                    <h2 class="text-center">Disponibilidad:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">Rendimiento:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">Calidad:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">OEE:</h2>
                                </div>
                            </div>
                            <div class="row row-padded-2">
                                <div class="col-md-3">
                                    <h2 class="text-center" id="disponibilidad">
                                        <%if (disponibilidad[0] && disponibilidad[0].disponibilidad !== null) { %>
                                            <%= (disponibilidad[0].disponibilidad).toFixed(2) %> %
                                        <% } else{ %> 
                                            0%
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="rendimiento">
                                        <%if (rendimiento[0] && rendimiento[0].rendimiento !== null) { %>
                                            <%= (rendimiento[0].rendimiento).toFixed(2) %> %
                                        <% } else{ %> 
                                            0%
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="calidad">
                                        <%if (calidad[0] && calidad[0].calidad !== null) { %>
                                            <%= (calidad[0].calidad).toFixed(2) %> %
                                        <% } else{ %> 
                                            0%
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="oee">
                                        <%if (calidad[0] && rendimiento[0] && disponibilidad[0]) { %>
                                            <%= (calidad[0].calidad * rendimiento[0].rendimiento * disponibilidad[0].disponibilidad).toFixed(2) %> %
                                        <% } else{ %> 
                                            0%
                                        <% } %>
                                    </h2>
                                </div>
                            </div>
                        </div>

                    </div>
                </div> <!-- Row -->
                <div class="row">
                    <div class="panel panel-info">
                        <div class="panel-body ">
                            <div class="row row-padded">
                                <div class="col-md-3">
                                    <h2 class="text-center">Tiempo activo:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">Tiempo muerto:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">Piezas terminadas:</h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center">Scrap:</h2>
                                </div>
                            </div>
                            <div class="row row-padded-2">
                                <div class="col-md-3">
                                    <h2 class="text-center" id="ta">
                                        <%if (disponibilidad[0] && disponibilidad[0].disponibilidad !== null) { %>
                                            <%= (disponibilidad[0].ta /60 /60).toFixed(2) %> hrs 
                                        <% } else{ %> 
                                            0 hrs
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="tm">
                                        <%if (disponibilidad[0] && disponibilidad[0].disponibilidad !== null) { %>
                                            <%= (disponibilidad[0].tm /60 /60).toFixed(2) %> hrs
                                        <% } else{ %> 
                                            0 hrs
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="pt">
                                        <%if (calidad[0] && calidad[0].calidad !== null) { %>
                                            <%= calidad[0].pt %> pzas
                                        <% } else{ %> 
                                            0 pzas
                                        <% } %>
                                    </h2>
                                </div>
                                <div class="col-md-3">
                                    <h2 class="text-center" id="scrap">
                                        <%if (calidad[0] && calidad[0].calidad !== null) { %>
                                            <%= (calidad[0].scrap).toFixed(2) %> pzas
                                        <% } else{ %> 
                                            0 pzas
                                        <% } %>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> <!-- Row -->
        </div> <!-- Container -->
<%include ../partials/footer %>



    
    <script src="http://code.jquery.com/jquery-1.10.1.min.js">
    </script> 
    <script src="/socket.io/socket.io.js">
    </script> 
    <script>

        // dev.kinnilweb.com
        var socket = io.connect('http://ec2-18-221-199-24.us-east-2.compute.amazonaws.com:3000');
        // ezair.kinnilweb.com
        //var socket = io.connect('http://ec2-13-58-128-66.us-east-2.compute.amazonaws.com:3000');
        // localhost:3000
        //var socket = io.connect('localhost:3000');

        socket.on('message', function(message) {
            console.log('el server esta vivo');
        })

        var tid = setInterval(mycode, 15000);
        function mycode() {
            console.log("mande a actualizar");
            socket.emit('actualizar', "please"); // El mensaje enviado no es utilizado para la actualizacion.
        }

        socket.on('actualizar', function(message) {

            console.log("actualizar evento");
            // Agrega color a la tabla que muestra el estatus

            // TODO: este codigo solo funciona para cuando hay una sola maquina, todabia hay que hacer que funcione para mas maquinas
            if (message.estado[0].status == 'online') {
                if (message.estado[0].razon == 'activo'){
                    $('#estado-color').addClass('green');
                    $('#estado-color').removeClass('red');
                    $('#estado-color').removeClass('grey');
                } else {
                    if (message.estado[0].razones_paro_id == 200 || message.estado[0].razones_paro_id == 201){
                        $('#estado-color').addClass('grey');
                        $('#estado-color').removeClass('red');
                        $('#estado-color').removeClass('green');
                    } else {
                        //console.log('rojo');
                        $('#estado-color').addClass('red');
                        $('#estado-color').removeClass('green');
                        $('#estado-color').removeClass('grey');
                    }
                }
                $("#estado").html(message.estado[0].razon);  
            } else {
                $('#estado-color').addClass('grey');
                $('#estado-color').removeClass('red');
                $('#estado-color').removeClass('green');
                $("#estado").html("Offline"); // Se manda un status offline cuando no se han recibido status en mas de 60 segundos
            }

            // TODO: Esto solo muestra info de una maquina, hay que mostrar la info de mas maquinas
            //$("#estado").html(message.estado[0].razon);
            $("#turno").html(message.turnoActual[0].nombre);
            $("#maquina").html(message.estado[0].nombre); // TODO: no puede ser el ID de la maquina, me tiene que regresar el nombre
            $("#producto").html(message.estado[0].producto);

            // Si disponibilidad viene vacio hay que poner un 0 ( disponibilidad: [] )
            if (message.disponibilidad.length > 0) {
                $("#disponibilidad").html((message.disponibilidad[0].disponibilidad).toFixed(2) + " %");
                $("#ta").html((message.disponibilidad[0].ta /60 /60).toFixed(2) + " hrs");
                $("#tm").html((message.disponibilidad[0].tm /60 /60).toFixed(2) + " hrs");
            } else {
                $("#disponibilidad").html("0%");
            }

            // Si rendimiento viene vacio hay que poner un 0 ( rendimiento: [] )
            if (message.rendimiento.length > 0){
                $("#rendimiento").html((message.rendimiento[0].rendimiento).toFixed(2) + " %");
            }
            else {
                $("#rendimiento").html("0%");
            }

            // Si calidad viene vacio hay que poner un 0 ( calidad: [] )
            if (message.calidad.length > 0) { 
                $("#calidad").html((message.calidad[0].calidad).toFixed(2) + " %");
                $("#pt").html(message.calidad[0].pt + " pzas"); // Pieza terminada no esta con decimales porque nunca lleva
                $("#scrap").html((message.calidad[0].scrap).toFixed(2) + " pzas");
                //$("#total").html((message.calidad[0].total).toFixed(2) + " pzas");
            }
            else {
                $("#calidad").html("0%");
            }

            // Calcula el OEE disponibilidad + rendimiento + calidad
            // TODO: Penzar esto un poco mas porque asi si sale un numero degativo se va a desplegar 0%
            if (message.disponibilidad.length > 0 && message.rendimiento.length > 0 && message.calidad.length > 0)
                $("#oee").html(((message.disponibilidad[0].disponibilidad + message.rendimiento[0].rendimiento + message.calidad[0].calidad)/3).toFixed(2)  + " %");
            else
                $("#oee").html("0%");

            var mensaje = JSON.stringify(message);
            console.log('se recibio un valor: ' + mensaje);
        })
    </script> 
</body>
</html>